<div class="flex-container">


  <div class="flex-child ">
    <div class="container">
      <div class="row">
        <h2 class="h2">
          All Employee list
        </h2>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">EmployeeName</th>
              <th scope="col">Total Time Worked</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of datas;let i= index">
              <td [ngStyle]="{'color':data.time >100 ? 'red' :'black' }">{{data.name}}</td>
              <td [ngStyle]="{'color':data.time >100 ? 'red' :'black' }">{{data.time}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="flex-child">
    <div class="container">
      <h4 style="text-align:center">Pie Chart 
    </h4>
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [labels]="chartOptions.labels"
        [responsive]="chartOptions.responsive"
      ></apx-chart>
    </div>
  </div>
  </div>
</div>